<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content-userDelete">
    <div class="modal-body">
      <p class="confirm">Are you sure you want to delete</p>
      <p class="userToDelete">Elwin Sharvill</p>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        data-dismiss="modal"
        class="btn btn-outline-primary"
      >
        No
      </button>
      <button type="button" class="btn btn-primary">Yes</button>
    </div>
  </div>
</div>
