<form [formGroup]="userEditForm" (ngSubmit)="update()">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <div class="round-img">
          <a href="#"
            ><img
              style="width: 100px; height: 100px"
              src="assets/images/avatar/avatar_2.png"
              alt=""
          /></a>
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="col-form-label" for="inputDefault">Name</label>
          <input
            type="text"
            class="form-control"
            placeholder="Name"
            id="inputDefault"
            formControlName="name"
          />
        </div>
        <div class="form-group">
          <label class="col-form-label" for="inputDefault">Job Title</label>
          <input
            type="text"
            class="form-control"
            placeholder="Job Title"
            id="inputDefault"
            formControlName="jobTitle"
          />
        </div>
      </div>
      <div class="modal-footer-editUser">
        <button
          type="button"
          data-dismiss="modal"
          class="btn btn-outline-primary"
          style="margin-left:60px"
        >
          Cancel
        </button>
        <button type="button" class="btn btn-primary" style="margin-right:20px">
          Save
        </button>
      </div>
    </div>
  </div>
</form>
